@use '../../../sass/base/constants' as *;
.congratsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  background-color: white;
  width: 400px;
  height: 300px;
  color: $color-text-l;
  margin: 30px auto 0;
  border-radius: 10px;
  text-align: center;
}

.gondolierFromTheLeft {
  position: relative;
  animation: fromLeft;
  animation-duration: 1.5s;
  animation-direction: forwards;
  top: -150px;
}

@keyframes fromLeft {
  0% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}
