$color-primary: #e64e4f;
$color-primary-light: #fe6362;

$color-secondary: #ffc900;

$color-contrastic-1: #53dccc;
$color-contrastic-2: #c8b3ff;
$color-contrastic-3: #73ddff;
$color-contrastic-4: #62ecde;

$color-disabled: #cdd6ec;

$color-text-s: #221250;
$color-text-l: #170841;
$color-text-bright: #f5a617;

$content-width: 1200px;
$size-xxxl: 1440px;
$size-xxl: 1280px;
$size-xl: 1024px;
$size-l: 768px;
$size-s: 600px;
$size-xs: 375px;
$size-xxs: 320px;

$extra-large: 48px;
$large: 36px;
$medium: 24px;
$small: 20px;
$extra-small: 16px;
