@use '../../sass/base/constants' as *;
.mySwiper {
  height: 600px;
  width: 700px;
  padding-top: 30px;
  .mySwiperSlide {
    align-self: flex-start;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}
.buttonsWrapper {
  column-gap: 30px;
  margin: 20px;
}

.gondolierFromTheLeft {
}

.textModalWrapper {
  row-gap: 15px;
  text-align: center;
}

.rowGapModalWrapper {
  column-gap: 20px;
  color: $color-text-l;
}
