@use '../../sass/base/constants' as *;
.mySwiper {
  height: 700px;
  width: 900px;
  padding-top: 30px;
  .mySwiperSlide {
    align-self: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
