@use '../../../sass/base/constants' as *;

.cardItemWrapper {
  row-gap: 10px;
  text-align: center;
  height: 300px;
  width: 300px;
  border: 8px solid $color-primary-light;
  border-radius: 10px;
  background-color: $color-primary-light;
  color: white;
  padding: 20px;
  img {
    position: fixed;
    border-radius: 10px;
    display: block;
    height: 260px;
    top: 100px;
    transform: rotate(36deg);
    left: -60px;
    width: 260px;
  }
}
