@use '../../sass/base/constants' as *;

.cardItemWrapper {
  row-gap: 10px;
  text-align: center;
  height: 100%;
  width: 300px;
  border: 8px solid $color-primary-light;
  border-radius: 10px;
  background-color: $color-primary-light;
  margin: 20px;
  img {
    border-radius: 10px;
    display: block;
    height: 80%;
    width: 80%;
  }
}
