@use '../../sass/base/constants' as *;

header {
  margin: 50px;
  color: white;
  height: 150px;
}

.navigation_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 55px;
  .navigation_item {
    display: inline-block;
    font-size: 26px;
  }
}
