@use '../../sass/base/constants' as *;

header {
  color: white;
  height: 100%;
}

.navigation_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  .navigation_item {
    display: inline-block;
    font-size: 26px;
  }
}
